body{
  background-color: rgb(184, 184, 184);
  font-family: Arial, Helvetica, sans-serif;
} 
#root{
  --btn-background: brown;
  padding: 2rem;
}
.card{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 0 5px rgb(94, 94, 94);
  padding: 1rem;
  margin-bottom: 1rem;
}
.actions{
  display:flex;
  flex-direction: row;
  justify-items:right;
  align-content: center;
}
.btn{
  background-color: var( --btn-background );
  color: white;
  border-radius: 3px;
  border: 0;
  padding: .5rem 1rem;
  margin-left: auto;
}
.modal-wrapper{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
}
.modal-action-form{
  z-index: 10;
  position: relative;
  background-color: white;
  width: 50%;
  border-radius: 1rem;
  margin: 100px auto;
  padding: 5rem;
}
.modal-action-form div{
  margin-bottom: 1rem;
}
.modal-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.modal-actions .btn--alt{
  margin-right: auto;
  border: 1px solid var(--btn-background);
  background-color: white;
  color: var( --btn-background);
}